<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="myConStr" connectionString="Server=DESKTOP-I6MAKRD\SQLEXPRESS;Database=SupermarketDb;Trusted_Connection=True;TrustServerCertificate=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="CommercialMarkup" value="20" />
	</appSettings>
</configuration>

